<title>Registro de alumnos Y Matricula</title> 
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de alumnos </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
</body>
<div class="appSistema" id="appSistema">
    <div class="container-fluid">
        <div class="card text-white" id="carAlumno">
            <div class="card-header bg-primary">
                Registro de alumnos

                <button type="button" class="btn-close text-end" data-bs-dismiss="alert" data-bs-target="#carAlumno" aria-label="Close"></button>
                </div>
                <div class="card-body text-dark">
                    <form method="post" @submit.prevent="GuardarAlumno" @reset="NuevoAlumno">
                    <div class="row p-1">
                        <div class="col col-md-2">Codigo:</div>
                        <div class="col col-md-2">
                            <input title="Ingrese el codigo" v-model="Alumno.Codigo" pattern="[0-9]{3,10}" required type="text" class="form-control">
                            </div>
                    </div>
                            <div class="row p-1">
                                <div class="col col-md-2">Nombre:</div>
                                <div class="col col-md-3">
                                    <input title="Ingrese Nombre de alumno" v-model="Alumno.Nombre" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
                                </div>
                                </div>
                                <div class="row p-1">
                                <div class="col col-md-2">Direccion:</div>
                                <div class="col col-md-3">
                                <input title="Ingrese la direccion" v-model="Alumno.direccion" pattern="[A-Za-zñÑáéíóúü ]{3,100}" required type="text" class="form-control">
                                 </div>
                                 </div>
                                <div class="row" p-1">
                            <div class="col col-m2">Municipio:</div>
                          <div class="col col-md3">
                       <input title="Ingrese el municipio de el alumno" v-model="Alumno.Municipio" pattern="[A-Za-zñÑáéíóúü ]{3,100}" required type="text" class="form-control">
                      </div>
                      </div>

<div class="row" p-1">
    <div class="col col-m2">Departamento:</div>
    <div class="col col-md3">
    <input title="Ingrese el Departamento de el alumno" v-model="Alumno.Departamento" pattern="[A-Za-zñÑáéíóúü ]{3,100}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
        <div class="col col-md-2">Telefono:</div>
        <div class="col col-md-2">
            <input title="Ingrese el Numero de Telefono" v-model="Alumno.Telefono" pattern="[0-9]{4}-[0-9]{4}" required type="text" class="form-control">
        </div>
    </div>

    <div class="row p-1">
        <div class="col col-md-2">Fecha nacimiento:</div>  
        <div class="col col-md-2">
            <input title="Ingrese Fecha de nacimiento de el Alumno" v-model="Alumno.FechaNacimiento" pattern="[0-9]{4}-[0-9]{4}" required type="text" class="form-control">
        </div>
    </div>

    <div class="row" p-1">
    <div class="col col-m2">Genero:</div>
    <div class="col col-md3">
    <input title="Ingrese el Genero de el Alumno" v-model="Alumno.Genero" pattern="[A-Za-zñÑáéíóúü ]{3,15}" required type="text" class="form-control">
    </div>
    </div>

</div>
</div>
<div class="row p-1">
    <div class="col col-md-5 text-center">
        <div v-if="Alumno.mostrar_msg" class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ Alumno.msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col col-md-5 text-center">
        <input class="btn btn-success" type="submit" value="Guardar Alumno">
        <input class="btn btn-warning" type="reset" value="Nuevo Alumno">
    </div>
</div>
</form>
</div>
</div>
<div class="card text-white" id="carBuscarAlumno">
<div class="card-header bg-primary">
    Busqueda De los alumnos

    <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="#carBuscarAlumno" aria-label="Close"></button>
</div>
<div class="card-body">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th colspan="6">

 Buscar: <input @keyup="Buscando Alumno" v-model="Buscar" placeholder="Busqueda de Alumno " class="form-control" type="text" >
    </th>
</tr>
</tr>

<th>CODIGO</th>
<th>NOMBRE</th>
<th>DIRECCION</th>
<th>MUNICIPIO</th>
<th>DEPARTAMENTO</th>
<th>TELEFONO</th>
<th>FECHA NACIMIENTO</th>
<th>GENERO</th>
<th></th>
 </tr>
</thead>
</tbody>

        <tr v-for="item in Alumnos" @click='ModificarAlumno( item )' :key="item.idAlumno">
        <td>{{item.Codigo}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Direccion}}</td>
        <td>{{item.Municipio}}</td>
        <td>{{item.Departamento}}</td>
        <td>{{item.Telefono}}</td>
        <td>{{item.Fecha Nacimiento}}</td>
        <td>{{item.Genero}}</td>
        <td>
            <button class="btn btn-danger" @click="EliminarAlumno(item)">Eliminar</button>
            </td>
        </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricula de Alumno </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
</body>
<div class="appAlumnos" id="appAlumnos">
    <div class="container-fluid">
        <div class="card text-white" id="carAlumno">
            <div class="card-header bg-primary">
                <h1>Matricula De Alumnos</h1><br>


 <h1>Agrege una Fotografia</h1><input type="file"><br>

    <div class="row p-1">
    <div class="col col-md-2">Nombres:</div>
    <div class="col col-md-3">
    <input title="Ingrese sus Nombres " v-model="Alumno.Nombre" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Apellidos:</div>
    <div class="col col-md-3">
    <input title="Ingrese Los Apellidos " v-model="Alumno.Nombre" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

<div class="row p-1">
    <div class="col col-md-2">Fecha de Nacimiento:</div>
    <input type="date"></div>

    <div class="row p-1">
        <div class="col col-md-2">Numero de Telefono:</div>
        <div class="col col-md-2">
            <input title="Ingrese el Numero de Telefono" v-model="Alumno.Telefono" pattern="[0-9]{4}-[0-9]{4}" required type="text" class="form-control">
        </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Municipio:</div>
    <div class="col col-md-3">
    <input title="Ingrese el Municipio " v-model="Alumno.Municipio" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Departamento:</div>
    <div class="col col-md-3">
    <input title="Ingrese el Municipio " v-model="Alumno.Departamento" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Genero:</div>
    <div class="col col-md-3">
    <input title="Ingrese el Municipio " v-model="Alumno.Genero" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Estado Civil:</div>
    <div class="col col-md-3">
    <input title="Ingrese el Municipio " v-model="Alumno.EstadoCivil" pattern="[A-Za-zñÑáéíóúü ]{3,75}" required type="text" class="form-control">
    </div>
    </div>

    <div class="row p-1">
    <div class="col col-md-2">Numero de DUI:</div>
    <div class="col col-md-2">
    <input title="Ingrese el DUI" v-model="cliente.dui" pattern="[0-9]{8}-[0-9]{1}" required type="text" class="form-control">
    </div>

    <label>Correo Electronico Principal</label><br>
    <input type="email">
    <br>

    <h1>Posee Titulo Agrege fotografia o Archivo </h1><input type="file"><br><br>

    <h1>Posee Partida de Nacimiento Agrege una fotografia</h1><input type="file"><br><br>

    <form method="post" @submit.prevent="Guardar" @reset="editar">
    <input class="btn btn-success" type="submit" value="Enviar">
    <button class="btn btn-danger" @click="EliminarMateria(item)">Eliminar</button>
    
<form>

</body>
</html>


            </div>
        </div>
    </div><br><br>



    <h1>Nota: Alumno no registrado no podra Inscribir Materias.</h1><br>


     <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
</body>
<div class="appAlmnos" id="appAlumnos">
    <div class="container-fluid">
        <div class="card text-white" id="carAlumno">
            <div class="card-header bg-primary">
                <h1>Inscripcion de Materias en Ingenieria</h1><br>
                

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscripcion de Materias</title>
        </head>
    </body>
    
<h1>Materias:</h1>
<select name="" id="">
    <option value="">Programacion Computacional</option>
    <option value="">Administracion base de datos</option>
</select><br><br>

<h1>Grupo:</h1><br>
<input type="radio" name="Grupo">Grupo A1<br>
<input type="radio" name="Grupo">Grupo A2<br><br>

<h1>Horario:</h1><br>
<input type="radio" name="Horario">7:00am - 8:50am<br>
<input type="radio" name="Horario">8:50am - 10:30am<br><br>

<h1>Seleccione Dia:</h1>
<select name="" id="">
    <option value="">Lunes</option>
    <option value="">Martes</option>
</select><br><br>

<h1>Materias:</h1>
<select name="" id="">
    <option value="">Matematica Computacional</option>
    <option value="">Ingles Basico</option>
</select><br><br>

<h1>Grupo:</h1><br>
<input type="radio" name="Grupo">Grupo A1<br>
<input type="radio" name="Grupo">Grupo A2<br><br>

<h1>Horario:</h1><br>
<input type="radio" name="Horario">8:50am - 10:30am<br>
<input type="radio" name="Horario">10:30am - 12:20am<br><br>

<h1>Seleccione Dia:</h1>
<select name="" id="">
    <option value="">Martes</option>
    <option value="">Miercoles</option>
</select><br><br>

<h1>Materias:</h1>
<select name="" id="">
    <option value="">Ingenieria de Software</option>
    <option value="">Electronica Analoga</option>
</select><br><br>

<h1>Grupo:</h1><br>
<input type="radio" name="Grupo">Grupo A1<br>
<input type="radio" name="Grupo">Grupo A2<br><br>

<h1>Horario:</h1><br>
<input type="radio" name="Horario">12:40am - 2:20pm<br>
<input type="radio" name="Horario">2:30pm - 4:20pm<br><br>

<h1>Seleccione Dia:</h1>
<select name="" id="">
    <option value="">Miercoles</option>
    <option value="">Jueves</option>
</select><br><br>

<h1>Materias:</h1>
<select name="" id="">
    <option value="">Metodos de Investigacion</option>
    <option value="">Robotica</option>
</select><br><br>

<h1>Grupo:</h1><br>
<input type="radio" name="Grupo">Grupo A1<br>
<input type="radio" name="Grupo">Grupo A2<br><br>

<h1>Horario:</h1><br>
<input type="radio" name="Horario">10:30am - 12:20am<br>

<h1>Seleccione Dia:</h1>
<select name="" id="">
<option value="">Lunes</option>
<option value="">Jueves</option>
</select><br><br>

  <form method="post" @submit.prevent="Guardar" @reset="editar">
    <input class="btn btn-success" type="submit" value="Guardar">
    <button class="btn btn-danger" @click="EliminarMateria(item)">Editar Todo</button>
    <input class="btn btn-warning" type="submit" value="Enviar">
<form>

</body>
</html>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>

        var generarIdUnicoFecha = ()=>{
            let fecha = new Date();
            return Math.floor(fecha.getTime()/1000).toString(16);
        };
        var app = new Vue({
            el: '#appSistema',
            data:{
                Buscar:'',
               Alumnos:[],
               Alumno:{
                Accion : 'Nuevo',
                mostrar_msg : false,
                msg : '',
                Codigo: '',
                Nombre: '',
                Direccion: '',
                Municipio: '',
                Departamento: '',
                Telefono: '',
                FechaNacimiento: '',
                Genero: ''
               
               }
            },

            methods:{
            BuscandoAlumno(){
                /*if( this.Buscar.trim().length>0 ){
                    this.Alumnos = this.Alumnos.filter(Alumnos => 
                    Alumno.Nombre.toLowerCase().indexOf(this.Buscar.toLowerCase()) > -1 ||
                    Alumno.Codigo.toLowerCase().indexOf(this.Buscar.toLowerCase()) > -1 ||
                    Alumno.Telefono.toLowerCase().indexOf(this.Buscar.toLowerCase()) > -1
                    );
                }else{
                    this.ObtenerAlumnos();
                }*/
                this.ObtenerAlumnos(this.Buscar)
            },
            EliminarAlumno(Alumno){
                    if( confirm(`Esta seguro de eliminar a este alumno ${Alumno.nombre}?`) ){
                        this.Alumno.accion = 'eliminar';
                        localStorage.removeItem(Alumno.idAlumno);
                        this.obtenerAlumnos();
                }
                this.nuevoAlumno();

            },
            ModificarAlumno(Datos){
                this.Alumno = JSON.parse(JSON.stringify(Datos));
                this.Alumno.accion = 'Modificar';
            },
            guardarCliente(){
                    if(this.cliente.accion=="nuevo"){
                        this.cliente.idCliente = generarIdUnicoFecha();
                    }
                    localStorage.setItem(this.Alumno.idAlumno, JSON.stringify(this.Alumno));
                    this.nuevoAlumno();
                    this.obtenerAlumnos();
                    this.Alumno.msg = 'El Alumno fue procesado con exito';   
                },
                obtenerAlumnos(valor=''){
                    this.clientes = [];
                    for(let i=0; i<localStorage.length; i++){
                        let key = localStorage.key(i);
                        if( valor.trim().length>0 ){
                            let Alumno = JSON.parse(localStorage.getItem(key));
                            if( Alumno.nombre.toLowerCase().indexOf(valor.toLowerCase()) > -1 ){
                                this.Alumnos.push(Alumnos);
                            }
                        } else {
                            this.Alumnos.push(JSON.parse(localStorage.getItem(key)));
                    
                    }
                }

                NuevoAlumno(){
                this.Alumno.accion = 'Nuevo';
                this.Alumno.msg ='';
                this.Alumno.Codigo ='';
                this.Alumno.Nombre ='';
                this.Alumno.Direccion ='';
                this.Alumno.Municipio ='';
                this.Alumno.Departamento ='';
                this.Alumno.Telefono ='';
                this.Alumno.FechaNacimiento ='';
                this.Alumno.Genero ='';
                }
            },
            created(){
                this.obtenerAlumnos();
               
            }
        },
                                

    </script>
</body>
</html>